# 忽略数据集图像文件
dataset/face_images/
dataset/train_set/*.jpg
dataset/verify_set/*.jpg
# 模型权重文件
models/model_weight/*.pth
# 训练结果文件
results/*.png

# Python相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE相关
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db 